* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #5CDB95;
}

body {
  font-family:'Roboto Mono';
  color: #EDF5E1;
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  text-align: center;
  color: black;
  font-size: 3rem;
}

.logo {
  transform: translate(10%, 25%);
}

.form-container {
  background-color: #05386b;
  display: flex;
  background-color: #05386b;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
}

.form-container > form {
  margin: 0 1em 1em 1em;
  flex: 1 1 auto;
  max-width: fit-content;
}

.form-container > h1 {
  margin: 1em 0 0 0;
  text-align: center;
  width: 100%;
}

.button {
  text-align: center;
}

label {
  display: block;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  height: 2.5em;
  width: 50vw;
  border: none;
  border-radius: 4px;
  align-self: center;
}

input[type="button"] {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #5CDB95;
  height: 2.5em;
  width: 20vw;
  min-width: max-content;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="button"]:hover {
  background-color: #cbcfc6;
  color: #05386b;
  transform: scale(1.02);
}

.flex-container {
  display: flex;
  background-color: #05386b;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 40px;
  width: fit-content;

}

.flex-container > div {
  width: 20%;
  margin: 1em;
  flex: 1 1 auto;
  background-color: #292c34;
  border-color: #cbcfc6;
  border-radius: 10px ;
}

.flex-container > h1 {
  text-align: center;
  margin: 1em;
  width: 100%;
}

p {
  text-align: center;
}